<%- include('../partials/userHeader.ejs') %>



<div  class="container main-container headerOffset">


    <div class="row" style="padding-top: 100px; padding-left: 200px; padding-bottom: 80px;">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span> <i class="fa fa-unlock-alt"> </i> Forgot your password? </span></h1>

            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <p> To reset your password, enter the email address you use to sign in to site. We will send
                        you a new password. </p>

                    <form role="form" action="/forget2 " method="POST">
                        
                        <div class="form-group">
                            <% if(EmailExsit) { %>
                            <h2 style="color: red;">InValid Email</h2>
                            <% } %>
                             <label for="exampleInputEmail1"> Email address </label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn   btn-primary"><i class="fa fa-unlock"> </i> Retrieve Password
                        </button>
                    </form>
                    <div class="clear clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="/login"> &larr; Back to Login </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>
<%- include('../partials/userFooter.ejs') %>

